[Unit]
Description=Terminal Status Monitor
After=network.target

[Service]
Type=simple
User=josh
WorkingDirectory=/home/josh/Dev/DEJ Status Monitor_Local_Server
Environment="PATH=/home/josh/Dev/DEJ Status Monitor_Local_Server/venv/bin:/usr/local/bin:/usr/bin:/bin"
Environment="RELOAD=false"
Environment="PORT=8091"
Environment="BASE_URL=http://10.200.0.235:8091"
Environment="LOG_FILE=/home/josh/Dev/DEJ Status Monitor_Local_Server/status_monitor.log"
Environment="LOG_LEVEL=INFO"
ExecStart=/home/josh/Dev/DEJ Status Monitor_Local_Server/venv/bin/python run.py
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
